@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@font-face {
    font-family: SundiaryDemo;
    src: url(../fonts/SundiaryDemo-2OgdK.ttf);
}

/* 
font-family: 'Lora', serif;
font-family: 'Source Sans Pro', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main-grid-body {
    display: grid;
    grid-template-rows: 100px 90vh 450px 925px 850px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "he"
    "ma"
    "po"
    "ev"
    "ga"
    "fo";
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: he;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    background-color: white;
    width: 100%;
    transition: 0.2s ease;
}

header h3 {
    font-family: 'SundiaryDemo', cursive;
    font-weight: 100;
    font-size: 1.75rem;
}

#hamburger-menu {
    position: absolute;
    left: 0;
    width: 35px;
    margin-left: 10px;
}

nav {
    position: absolute;
    top: 0;
    right: 150%;
    margin-right: 0;
    width: 400px;
    height: 100vh;
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    background-color: white;
    font-family: 'Lora', serif;
    opacity: 20%;
    transition: 0.5s;
}

.nav-visible {
    right: 0;
    width: 100%;
    opacity: 100%;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
}

nav li {
    padding-bottom: 40px;
    padding-top: 30px;
    color: black;
    display: block;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

#close-menu {
    position: absolute;
    width: 30px;
    right: 0;
    margin-right: 10px;
}

#main-section {
    background-image: url("../img/blommor/header2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-area: ma;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrow-down {
    height: 60px;
    position: absolute;
    bottom: -100px;
}

h1, h2 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

#title {
    background-color: rgba(255, 255, 255, 0.3);
    height: 125px;
    padding: 20px 40px 20px 40px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

#title p {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 0.9rem;
    line-height: 25px;
}

li {
    font-size: 0.9rem;
}

#title h3 {
    font-weight: 300;
}

button {
    padding: 15px 20px 15px 20px;
    background-color: #EB8E32;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bold;
}

#popular-now {
    grid-area: po;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#popular-now-products {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
}

#product-index-3 {
    display: none;
}

.product {
    height: 250px;
    width: 175px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.product img {
    height: 175px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.product-information {
    background-color: #f7f0eb;
    align-self: flex-end;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 0px 0px 5px 5px;
}

strong {
    font-weight: 400;
}



#event {
    grid-area: ev;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #f7f0eb;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.event-background-img {
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);  
    margin-bottom: 20px;
    border-radius: 5px;
}

#wedding-img {
    background-image: url("../img/wedding-plating.jpg");
}

#funeral-img {
    background-image: url("../img/funeral-flowers.jpg");
}




#gallery {
    display: flex;
    flex-direction: column;
    grid-area: ga;
    align-items: center;
    padding-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}



footer {
    background-color: #f7f0eb;
    grid-area: fo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);

}

#social-media-icons {
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 70px;
}

#social-media-icons img {
    margin-right: 5px;
}

#footer-links {
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Lora', serif;
    font-size: 0.8rem;
}

#footer-links ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#footer-links ul li {
    list-style: none;
    margin-right: 15px;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: black;
}




/* Galleri */

#main-grid-body-galleri {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: 
    "he"
    "ga"
    "fo";
}

.gallery {
    grid-area: ga;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-flex-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    row-gap: 20px;
    
}

.gallery h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.gallery img {
    width: 300px;
}



/* Boka event */

#main-grid-body-bokaevent {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: 
    "he"
    "ev"
    "fo";
}

#book-events {
    grid-area: ev;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#book-events h1 {
    margin-bottom: 50px;
    margin-top: 30px;
}

.book-events-img {
    width: 350px;
    border-radius: 5px;
}

.offers {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.offers ul li {
    list-style: none;
    margin-bottom: 5px;
}

#left-list {
    padding-right: 40px;
}

#right-list {
    padding-left: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.event-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-left: 40px;
    
}

.event-information h2 {
    margin-bottom: 20px;
}

#book-events-gallery-button {
    margin-bottom: 40px;
}

.book-event-now-button {
    margin-bottom: 40px;
}

.event-information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* Shop */
#main-grid-body-shop {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 300px;
    grid-template-areas: 
    "he"
    "sh"
    "fo";
}

#shop {
    grid-area: sh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#filter {
    display: flex;
    width: 90%;
    justify-content: end;
    margin-top: 30px;
}

#filter-button {
    display: flex;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

#shop-product-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: repeat(8, 250px);
    column-gap: 40px;
    row-gap: 20px;
    margin-top: 5px;
    margin-bottom: 20px;   
}

#shop a {
    text-decoration: underline;
    margin-bottom: 40px;
    color: #EB8E32;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.product-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-shop img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.shop-button {
    padding: 5px 10px 5px 10px;
    font-weight: 400;
    font-size: 0.8rem;
}




/* Computer layout 
**********************************************************************/


@media screen and (min-width: 768px) {
    #main-grid-body {
        grid-template-rows: 100vh 450px 925px 850px 300px;
        grid-template-areas: 
        "ma"
        "po"
        "ev"
        "ga"
        "fo";
    }

    header {
        background: none;
        position: absolute;
        top: 0;
        color: black;
    }

    header h3 {
        position: absolute;
        left: 0;
        margin-left: 25px;
    }

    #title {
        background: none;
    }

    #main-section h1 {
        font-size: 6rem;
    }

    #arrow-down {
        bottom: 0;
        cursor: pointer;
    }

    #hamburger-menu {
        display: none;
    }

    #close-menu {
        display: none;
    }

    nav {
        position: static;
        display: flex;
        height: 100%;
        width: 100%;
        opacity: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        background: none;
    }

    nav ul {
        flex-direction: row;
    }

    nav li {
        border: none;
        font-size: 1rem;
        padding: 0;
        margin-left: 55px;
        margin-right: 55px;
        color: black;
    }

    .index-header {
        color: white;
        border: none;
    }

    .index-header li {
        color: white;
    }

    #product-index-3 {
        display: flex;
    }

    #popular-now-products {
        width: 750px;
        justify-content: space-between;
    }

    .event {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
        width: 70%;
        margin-top: 40px;
    }

    .event-background-img {
        width: 50%;
    }

    .event p {
        width: 50%;
        margin: 0;
    }

    #text-picture-switched {
        flex-direction: row-reverse
    }

    .event-background-img {
        height: 300px;
    }

    button {
        border: 1px solid #EB8E32;
        background: none;
        color: #EB8E32;
        font-size: 1.25rem;
        font-weight: 400;
        padding-right: 30px;
        padding-left: 30px;
        transition: 0.4s;
    }

    button:hover {
        background: #EB8E32;
        border-color: #EB8E32;
        color: white;
    }

    button:active {
        opacity: 50%;
    }

    .gallery-grid {
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(2, 300px);
        row-gap: 30px;
        column-gap: 30px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    #social-media-icons {
        margin-left: 100px;
        width: auto;
        margin-bottom: 0;
    }

    #footer-links {
        width: 100%;
        margin-left: 400px;
    }

    #footer-links ul li {
        margin-right: 60px;
    }


    /* Event */

    .event-information-section {
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    #section-switched {
        flex-direction: row-reverse;
    }

    .book-events-img {
        width: 50%;
    }

    h1 {
        font-size: 3.5rem;
    }

    .event-information {
        width: 50%;
    }

    .offers {
        border: none;
    }

    #shop-product-grid {
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(4, 300px);
    }

    .product-shop {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-top: none;
        border-radius: 5px;
        padding-bottom: 30px;
        padding-top: 27px;
    }

    .product-shop img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .shop-button {
        margin-top: 20px;
    }


    /* Gallery */

    .gallery-flex-grid {
        flex-wrap: wrap;
        object-fit: cover;
    }

    .gallery img {
        height: auto;

    }
}




